.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #43A047;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  a{
    text-decoration: none;
  }
  .logo {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bold;
  }
  #menu-toggle {
    display: block;
    float: left;
    width: 60px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
    i {
      display: inline-block;
      margin: 0 5px;
    }
    span {
      width: 0px;
      display: none;
      overflow: hidden;
      transition: all .2s ease-in-out;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.25);
    }
    &.active {
      width: 250px;
      transition: all .2s ease-in-out;
      span {
        display: inline;
        width: auto;
        transition: all .2s ease-in-out;
      }
    }
  }
}

.sidebar {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 50px;
  height: 100%;
  width: 60px;
  background: #fff;
  border-right: 1px solid #ddd;
  text-align: center;
  transition: all .2s ease-in-out;
  &.active, &.hovered {
    width: 250px;
    transition: all .2s ease-in-out;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      a {
        display: block;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        color: #444;
        text-align: left;
        i {
          display: inline-block;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          animation-duration: .7s;
          animation-fill-mode: both;
        }
        span {
          display: inline-block;
          height: 60px;
          line-height: 60px;
        }
        &:hover {
          background-color: #eee;
          i {
            opacity: .9;
          }
        }
      }
    }
  }
}